<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Nuclear Motors</title>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/slideshow.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/jg.css" />
    <script src="js/modernizr.custom.js"></script>
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <h1>Nuclear Motors</h1>
            <nav>
                <span class="fa-stack fa-lg"><a href="index.aspx" data-info="Home">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-home fa-stack-1x"></i></a>
                </span>&nbsp;
					<span class="fa-stack fa-lg"><a href="#" data-info="About Us">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-magic fa-stack-1x"></i></a>
                    </span>&nbsp;
					<span class="fa-stack fa-lg"><a href="#" data-info="FAQ">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-gears fa-stack-1x"></i></a>
                    </span>&nbsp;
					<span class="fa-stack fa-lg"><a href="#" data-info="Contact Us">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-comment fa-stack-1x"></i></a>
                    </span>&nbsp;
					<span class="fa-stack fa-lg"><a href="Cart.aspx" data-info="Cart">
                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x"></i></a>
                    </span>
            </nav>
        </header>
        <!-- END HEADER-->

        <div class="main">
            <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
                <div class="cbp-hsinner">
                    <ul class="cbp-hsmenu">
                        <li>
                            <a href="Product.aspx">All Products</a>
                        </li>
                        <li>
                            <a href="#">Vehicles</a>
                            <ul class="cbp-hssubmenu cbp-hssub-rows">
                                <li><a href="Product.aspx?pId=1">
                                    <img src="img/nav/Vehicle_ChevroletCamaro.png" alt="Vehicle Chevrolet Camaro" /><span>Chevrolet Camaro</span></a></li>
                                <li><a href="Product.aspx?pId=2">
                                    <img src="img/nav/Vehicle_DodgeCharger.png" alt="Vehicle Dodge Charger" /><span>Dodge Charger</span></a></li>
                                <li><a href="Product.aspx?pId=3">
                                    <img src="img/nav/Vehicle_FordMustang.png" alt="Vehicle Ford Mustang" /><span>Ford Mustang</span></a></li>
                                <li><a href="Product.aspx?pId=4">
                                    <img src="img/nav/Vehicle_HyundaiGenesis.png" alt="Vehicle Hyundai Genesis" /><span>Hyundai Genesis</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Hybrids</a>
                            <ul class="cbp-hssubmenu">
                                <li><a href="Product.aspx?pId=5">
                                    <img src="img/nav/Hybrid_FiskerKarma.png" alt="Hybrid Fisker Karma" /><span>Fisker Karma</span></a></li>
                                <li><a href="Product.aspx?pId=6">
                                    <img src="img/nav/Hybrid_HondaCRZ.png" alt="Hybrid Honda CR-Z" /><span>Honda CR-Z</span></a></li>
                                <li><a href="Product.aspx?pId=7">
                                    <img src="img/nav/Hybrid_LamborghiniAventador.png" alt="Hybrid Lamborghini Aventador" /><span>Lamborghini Aventador</span></a></li>
                                <li><a href="Product.aspx?pId=8">
                                    <img src="img/nav/Hybrid_LamborghiniHuracan.png" alt="Hybrid Lamborghini Huracan" /><span>Lamborghini Huracan</span></a></li>
                                <li><a href="Product.aspx?pId=9">
                                    <img src="img/nav/Hybrid_MaseratiGranturismo.png" alt="Hybrid Maserati GranTurismo" /><span>Maserati GranTurismo</span></a></li>
                                <li><a href="Product.aspx?pId=10">
                                    <img src="img/nav/Hybrid_TeslaModelS.png" alt="Hybrid Tesla Model S" /><span>Tesla Model S</span></a></li>
                                <li><a href="Product.aspx?pId=11">
                                    <img src="img/nav/Hybrid_ToyotaPrius.png" alt="Hybrid Toyota Prius" /><span>Toyota Prius</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Car Tires</a>
                            <ul class="cbp-hssubmenu">
                                <li><a href="Product.aspx?pId=12">
                                    <img src="img/nav/t_summer.png" alt="All Season Tires" /><span>All-Season Tires</span></a></li>
                                <li><a href="Product.aspx?pId=13">
                                    <img src="img/nav/t_winter.png" alt="Winter Tires" /><span>Winter Tires</span></a></li>
                                <li><a href="Product.aspx?pId=14">
                                    <img src="img/nav/t_LightTrucks.png" alt="img01" /><span>Light Truck Tires</span></a></li>
                                <li><a href="Product.aspx?pId=15">
                                    <img src="img/nav/Rims_Genius.png" alt="Rims Genius" /><span>Rims Genius</span></a></li>
                                <li><a href="Product.aspx?pId=16">
                                    <img src="img/nav/Hubcaps_TuningPros.png" alt="Hubcaps Tuning Pros" /><span>Hubcaps Tuning Pros</span></a></li>
                                <li><a href="Product.aspx?pId=17">
                                    <img src="img/nav/Hubcaps_PilotAuto.png" alt="Hubcaps Pilot Automotive" /><span>Hubcaps Pilot Automotive</span></a></li>
                                <li><a href="Product.aspx?pId=18">
                                    <img src="img/nav/Hubcaps_Alphena.png" alt="Hubcaps_Alphena" /><span>Hubcaps Alphena</span></a></li>
                                <li><a href="Product.aspx?pId=19">
                                    <img src="img/nav/Hubcaps_DriveAccessories.png" alt="Hubcaps Drive Accessories" /><span>Hubcaps_DriveAccessories</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">Car Accessories</a>
                            <ul class="cbp-hssubmenu">
                                <li><a href="Product.aspx?pId=20">
                                    <img src="img/nav/Camera_BoomYours.png" alt="Camera BoomYours" /><span>Camera BoomYours</span></a></li>
                                <li><a href="Product.aspx?pId=21">
                                    <img src="img/nav/Camera_CaproCam.png" alt="Camera CaproCam" /><span>Camera CaproCam</span></a></li>
                                <li><a href="Product.aspx?pId=22">
                                    <img src="img/nav/Camera_CC.png" alt="Camera_CC" /><span>Camera CC</span></a></li>
                                <li><a href="Product.aspx?pId=23">
                                    <img src="img/nav/Camera_EPrance.png" alt="Camera EPrance" /><span>Camera E-Prance</span></a></li>
                                <li><a href="Product.aspx?pId=24">
                                    <img src="img/nav/Camera_GoldenSupplier.png" alt="Camera_GoldenSupplier" /><span>Camera Golden Supplier</span></a></li>
                                <li><a href="Product.aspx?pId=25">
                                    <img src="img/nav/Camera_Hittime.png" alt="Camera Hittime" /><span>Camera Hittime</span></a></li>
                                <li><a href="Product.aspx?pId=26">
                                    <img src="img/nav/AirFreshener_AirSpencer.png" alt="Air Freshener Air Spencer" /><span>Air Freshener Air Spencer</span></a></li>
                                <li><a href="Product.aspx?pId=27">
                                    <img src="img/nav/AirFreshener_Febreze.png" alt="Air Freshener Febreze" /><span>Air Freshener Febreze Vent Clips</span></a></li>
                                <li><a href="Product.aspx?pId=28">
                                    <img src="img/nav/CarSeat_CosattoMoova.png" alt="Car Seat Cosatto Moova" /><span>Car Seat Cosatto Moova</span></a></li>
                                <li><a href="Product.aspx?pId=29">
                                    <img src="img/nav/CarSeat_Britax.png" alt="Car Seat Britax" /><span>Car Seat Britax USA</span></a></li>
                                <li><a href="Product.aspx?pId=30">
                                    <img src="img/nav/mats.png" alt="img02" /><span>Floor Mats</span></a></li>
                                <li><a href="Product.aspx?pId=31">
                                    <img src="img/nav/dice.png" alt="img01" /><span>Fuzzy Dice</span></a></li>
                                <li><a href="Product.aspx?pId=32">
                                    <img src="img/nav/GPS_GarminNuvi.png" alt="GPS Garmin Nuvi" /><span>GPS Garmin Nuvi</span></a></li>
                                <li><a href="Product.aspx?pId=33">
                                    <img src="img/nav/GPS_TomTom.png" alt="GPS Tom Tom" /><span>GPS Tom Tom</span></a></li>
                                <li><a href="Product.aspx?pId=34">
                                    <img src="img/nav/PortableCanopy_ShelterLogic.png" alt="Portable Canopy Shelter Logic " /><span>Portable Canopy Shelter Logic </span></a></li>
                                <li><a href="Product.aspx?pId=35">
                                    <img src="img/nav/Subwoofer_InfinitySingle.png" alt="Subwoofer Infinity Single" /><span>Subwoofer Infinity Single</span></a></li>
                                <li><a href="Product.aspx?pId=36">
                                    <img src="img/nav/Subwoofer_Pioneer.png" alt="Subwoofer_Pioneer" /><span>Subwoofer Pioneer</span></a></li>
                                <li><a href="Product.aspx?pId=37">
                                    <img src="img/nav/Subwoofer_Pyle.png" alt="Subwoofer Pyle" /><span>Subwoofer Pyle</span></a></li>
                                <li><a href="Product.aspx?pId=38">
                                    <img src="img/nav/WiperBlades_DupontStndrd.png" alt="Wiper Blades Dupont Standard" /><span>Wiper Blades Dupont Standard</span></a></li>
                                <li><a href="Product.aspx?pId=39">
                                    <img src="img/nav/WiperBlades.png" alt="Wiper Blades" /><span>Wiper Blades Standard</span></a></li>

                            </ul>
                        </li>
                        <li><a href="#">Car Essentials</a>
                            <ul class="cbp-hssubmenu">
                                <li><a href="Product.aspx?pId=40">
                                    <img src="img/nav/AntiFreeze_CRC.png" alt="Anti-Freeze CRC" /><span>Anti-Freeze CRC</span></a></li>
                                <li><a href="Product.aspx?pId=41">
                                    <img src="img/nav/AntiFreeze_BeckArnley.png" alt="Anti-Freeze Beck Arnley" /><span>Anti-Freeze Beck Arnley</span></a></li>
                                <li><a href="Product.aspx?pId=42">
                                    <img src="img/nav/AntiFreeze_Halfords.png" alt="Anti-Freeze Halfords" /><span>Anti-Freeze Halfords</span></a></li>
                                <li><a href="Product.aspx?pId=43">
                                    <img src="img/nav/AntiFreeze_Holts.png" alt="Anti-Freeze Holts" /><span>Anti-Freeze Holts</span></a></li>
                                <li><a href="Product.aspx?pId=44">
                                    <img src="img/nav/AntiFreeze_Prestone.png" alt="AntiFreeze_Prestone" /><span>Anti-Freeze Prestone</span></a></li>
                                <li><a href="Product.aspx?pId=45">
                                    <img src="img/nav/AntiFreeze_Zerex.png" alt="Anti-Freeze Zerex" /><span>Anti-Freeze Zerex</span></a></li>
                                <li><a href="Product.aspx?pId=46">
                                    <img src="img/nav/Oils_GenuineHonda.png" alt="Oils Genuine Honda" /><span>Oils Genuine Honda</span></a></li>
                                <li><a href="Product.aspx?pId=47">
                                    <img src="img/nav/Oils_LucasOil.png" alt="Oils_LucasOil" /><span>Oils Lucas Oil</span></a></li>
                                <li><a href="Product.aspx?pId=48">
                                    <img src="img/nav/Oils_RoyalPurple.png" alt="Oils Royal Purple" /><span>Oils Royal Purple</span></a></li>
                                <li><a href="Product.aspx?pId=49">
                                    <img src="img/nav/Oils_ShellHelix.png" alt="Oils Shell Helix" /><span>Oils Shell Helix</span></a></li>
                                <li><a href="Product.aspx?pId=50">
                                    <img src="img/nav/Oils_ShellRotella.png" alt="Oils Shell Rotella" /><span>Oils Shell Rotella</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- END NAVIGATION -->
        </div>
        <!-- END DIV MENU -->
            <script src="js/classie.js"></script>
    <script src="js/cbpHorizontalSlideOutMenu.min.js"></script>
        <script>
            var menu = new cbpHorizontalSlideOutMenu(document.getElementById('cbp-hsmenu-wrapper'));
    </script>
    <!-- SLIDE CONTROL FOR MENU-->    
    </div>
    <div id="login">
        <asp:Label ID="loginText" runat="server"></asp:Label>
    </div>
    <asp:ContentPlaceHolder ID="content" runat="server" />
</body>
</html>
